<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro Admin</title>
    <link rel="stylesheet" href="../inicio_sesion/Estilos/Estilo-login.css">
    <style>
        .back-link {
            display: block;
            margin-top: 20px;
            text-align: center;
            color: #999;
            text-decoration: none;
            font-size: 0.9em;
        }
        .back-link:hover { color: #fff; }
    </style>
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="/registrar-admin" method="POST">
            <h2>Registro Administrador</h2>
            <br>
            
            <div class="input-group">
                <input type="email" name="correo" required>
                <label>Correo Electrónico</label>
            </div>

            <div class="input-group">
                <input type="text" name="nombre" required>
                <label>Nombre</label>
            </div>

            <div class="input-group">
                <input type="text" name="apellido" required>
                <label>Apellido</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Contraseña</label>
            </div>
            
            <button type="submit" class="login-btn">Registrar</button>
            
            <a href="Login-administrador.html" class="back-link" text-align: left;>← Volver al inicio de sesión</a>
        </form>
    </div>
</body>
</html>